.detail{
    margin-top:-3rem;
    .d-header{
        padding: 10/12.5rem;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        a{
            display: block;
            width: 30/12.5rem;
            height: 30/12.5rem;
            // line-height: 35/12.5rem;
            color: #ddd;
            background: rgba(0,0,0,.6);
            border-radius: 50%;
            border:none;
            display: flex;
            align-items: center;
            justify-content: center;
         }
        .left{
            float: left;
        }
        .right{
            float:right;
            position: relative;
           i{
            font-size: 20/12.5rem;
           } 
        }
        .messageShare{
            position: absolute;
            top: 51/12.5rem;
            right: -5/12.5rem;
            width: 110/12.5rem;
            height:60/12.5rem;
            text-align: left;
            border-radius: 5/12.5rem;
            background: rgba(0,0,0,0.4);
         
            &>i{
                position: absolute;
                color:rgba(0,0,0,0.4);
                top: -13.7/12.5rem;
                font-size: 17/12.5rem;
                right: 10/12.5rem;
            }
            p{
                line-height: 30/12.5rem;
                height: 50%;
                i{
                    font-size:18/12.5rem;
                    padding: 0 10/12.5rem;
                }
            }
            p:last-child{
                i{
                    font-size:15/12.5rem;
                }
            }
            
        }
    }
    .content{
        text-align: left;
        color:#848484;
    }
    .info{
        padding:0 20/12.5rem;
        h1{
            font-size:20/12.5rem;
            font-weight: 400;
            color:#000;
            line-height: 60/12.5rem;
            text-align: left;
            
        }
    }
    .privce{
        line-height: 40/12.5rem;
        color:#ff6700;
        font-size:25/12.5rem;
    }
    .section-detail{
        margin-top:20/12.5rem;
    }
    .product_info{
        border-radius: 5/12.5rem;
        background-color: #fafafa;
        li{
            line-height: 40/12.5rem;
            border-bottom: 1/12.5rem solid #e5e5e5;
            padding: 0 10/12.5rem;
            span{
                color:#000;
                padding: 0 20/12.5rem;
            }
            .haveGoods{
                color:#ff6700;
            }
            .icon-dayuhao1{
                font-size:13/12.5rem;
                color:#848484;
                float: right;

            }
            &:last-child i{
                color:#ff6700;
                padding: 0 10/12.5rem;
            }
        }
    }
    .comment{
        .swiper-slide{
            height:244/12.5rem; 
            box-sizing: border-box;
            padding:0 40/12.5rem;
        }
        .swiper-box{
            margin-top:1rem;
            background:#fafafa;
            border-radius:8/12.5rem;
            height:244/12.5rem;
            padding:16/12.5rem;
            box-sizing:border-box;
        }
        .comment-header{
            display: flex;
            flex-wrap: nowrap;
        }
        .avatar-img-box{
            float: left;
            height:34/12.5rem;
            width:34/12.5rem;
            img{
                border-radius: 100%;
            }
        }
        .user-info{
            padding-left: 1em;
            width: 70%;
            .userName{
                color:#000;
            }
        }
        .up_num{
            float:right;
        }
        .comment-text{
            color:#000;
            margin-top:5/12.5rem;
        }
        .comment-images{
            display: flex;
            overflow: hidden;
            margin-top:15/12.5rem;
            .photos{
                flex-shrink:0;
                float: left;
                width: 80/12.5rem;
                height: 65/12.5rem;
                margin-right: 8/12.5rem;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10/12.5rem;
                }
            }
        }
        .replay{
            margin-top: 20/12.5rem;
            span{
                color:#ff6700;
            }
        }
    }
}