//.clearfix:after{
//  display: block;
//  content: "";
//  clear: both;
//}
.find{
   margin-bottom: 60px; 
    text-align:left;
    font-size: 16/12.5rem;
}
a{
    text-decoration: none;
}
//米粉卡部分
.li-fin img{
 display: flex;
    width: 100%;
}
.li-fin{
    display: flex;
    width: 100%;
    height: 100/12.5rem;
    border-bottom: 1px solid #666666;
}
.li-fin .fr{
//  float: left;
}
.li-fin .fr span{
    
    font-size: 12px;
}
.li-fin .fr div{
    text-align: center;
}
//小米之家
.mijia .fl{
    display: inline-block;
    width: 140/12.5rem;
    height: 125/12.5rem;
}
.mijia .bot{
    display: inline-block;
    width: 175/12.5rem;
    height: 80/12.5rem;
    padding-top: 40/12.5rem;
    padding-right:50/12.5rem;
//  float: right;
}
.bot h4{
    font-size: 7/12.5rem;
    color: #666;
}
.mijia{
    width: 100%;
    height: 125/12.5rem;
}
.mijia .p1{
    line-height: 20/12.5rem;
    font-size: 10.5/12.5rem;
    color: #CCCCCC;
}
.bot .ai{
    font-size: 12/12.5rem;
    color: #CCCCCC;
}
//mix3

//商城早报
.paper .slide{
    width: 100%;
    height: 100/12.5rem;
    overflow: auto;
//  margin-left: 30px;
    .fl-l{
//      float: left;
      img{
           width: 125%;
           height: 100/12.5rem; 
           
        }
    }
}
.paper ul{
    display: flex;
    width: 240%;
    height: 50/12.5rem;
    white-space: nowrap;
}
.paper li div{
//  float: left;
    width: 80%;
} 
.paper li{
    flex: 1;
//  float: left;
    list-style: none;
}
.paper h3{
    margin-top: 12.5/12.5rem;
    margin-left: 7.5/12.5rem;
    padding-bottom: 2.5/12.5rem;
    color: #666;
}
.miaosha{
    margin-top: 2.5/12.5rem;
}
.miaosha .een{
    margin-left: 5/12.5rem;
    h4{
        color: #666;
    }
    a{
        color: #ccc;
    }
    span{
        color: #ccc;
    }
}
.miaosha .foot-a{
    margin-left: 10/12.5rem;
    margin-top: 5/12.5rem;
    .fl-a{
        font-size: 6/12.5rem;
     float: left;
        color: #ccc;
    }
    .fr-a{
        font-size: 6/12.5rem;
     float: right;
        margin-right: 10/12.5rem;
        color: #ccc;
    }
}
.jimu{
    margin-top: 25/12.5rem;
}
.solid{
    margin-top: 30/12.5rem;
//  width: 100%;
    border: 1px solid #ccc;
}
.see{
    margin-top: 15/12.5rem;
    text-align: center;
    .see2{
        font-size: 16/12.5rem;
        color: #939393;
        margin-top: 2/12.5rem;
    }
    i{
        position: relative;
        top:-2/12.5rem;
        right: -5/12.5rem;
        color: #939393;
        vertical-align: middle;
    }
}
.puality{
    .quito{
        margin-top: 5/12.5rem;
        a{
            color: #939393;
            margin-left: 5/12.5rem;
        }
        div{
           h5{ 
            display: inline-block;
            margin-left: 5/12.5rem;
           } 
           span{
               color: red;
               margin-right: 5/12.5rem;
//             float: right;
           }
        }
    }
    h2{
        margin-left: 5/12.5rem;
        color: #939393;
    }
    .imgs{
        display: flex;
        width: 100%;
        height: 250/12.5rem;
        margin-top: 6/12.5rem;
        img{
            width: 100%;
            height: 250/12.5rem;
        }
        h5{
            margin-left: 5/12.5rem;
        }
    }
}

 .LED .inte{
     width: 50%;
//   float: left;
     display: inline-block;
        img{
            margin-top: 5/12.5rem;
            width: 100%;
            height: 200/12.5rem;
        }
        h5{
            margin-left: 5/12.5rem;
        }
        span{
            margin-left: 5/12.5rem;
            margin-top: 5/12.5rem;
            color: red;
        }
    }
.LED .router{
    width: 50%;
    display: inline-block;
//  float: right;
    img{
        margin-top: 5/12.5rem;
        width: 100%;
        height: 200/12.5rem;
    }
    h5{
            margin-left: 5/12.5rem;
        }
    span{
        color: red;
    }
}
.LED{
    display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}
.LED .plate{
    width: 50%;
//  float: left;
 
    img{
        margin-top: 5/12.5rem;
        width: 100%;
        height: 200/12.5rem;
    }
    h5{
            margin-left: 5/12.5rem;
        }
    span{
         margin-left: 5/12.5rem;
         margin-top: 5/12.5rem;
         color: red;
    }
}
.travel{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
         h2{
//     display: inline-block;
       margin-top: 10/12.5rem;
       margin-left: 5/12.5rem;
       color: #939393; 
    }
    .recorder{
         
        width: 50%;
        height: 240/12.5rem;
        img{
        margin-top: 5/12.5rem;
        width: 100%;
        }
        span{
         margin-left: 5/12.5rem;
         margin-top: 5/12.5rem;
         color: red;
        }
         h5{
            width: 100%;
             white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
   
        } 
   }
    .source{
        width: 50%;
//      float: right;
        img{
        margin-top: 5/12.5rem;
        width: 100%; 
        }
        span{
         margin-left: 5/12.5rem;
         margin-top: 5/12.5rem;
         color: red;
        } 
       
    }
}
