.broadcast {
  text-align: left;
}
// 头部
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 666;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80/2px;
  background: #f2f2f2;
  .back {
    position: absolute;
    left: 20/2px;
    img {
      width: 40/2px;
      height: 40/2px;
    }
  }
  .message {
    position: absolute;
    right: 20/2px;
    height: 100%;
    line-height: 40px;
    span {
      line-height: 80/2px;
      color: #000;
      padding: 0 18/2px;
    }
    i {
      position: relative;
      top: 5/2px;
      color: #939393;
      font-size: 40/2px;
    }
  }
  .title {
    font-size: 30/2px;
  }
}

.broadcast {
  .content {
    text-align: left;
    margin-top: 45px;
    //购物车为空的状态
    .empry{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: #bdbdbd;
        i{
            font-size: 20px;
            color: #bdbdbd;
            padding: 0 10px;
        }
        button{
            border: 1px solid #ccc;
            background: none;
            padding: 5px;
            margin-left: 10px;
            outline: none;
        }
    }
  }
  .submit {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 100/2px;
    height: 100/2px;
    line-height: 100/2px;
    background: #fff;
  }
  .check {
    padding: 0 30/2px;
    img {
      width: 40/2px;
    }
  }
  .total {
    margin-left: 60/2px;
    span {
      color: #ff5722;
      display: inline-block;
      position: relative;
      padding: 0 20/2px;
      font-size: 30/2px;
      i {
        position: absolute;
        bottom: 5/2px;
        height: 100%;
        font-size: 15/2px;
        left: 0;
      }
    }
  }
  .btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40%;
    button {
      display: block;
      background: #ff6700;
      color: #fff;
      height: 100%;
      width: 100%;
      border: none;
    }
    .complete {
      background: red;
    }
  }
  .collection {
      width: 40%;
    button {
      background: #ff6700;
      display: block;
      color: #fff;
      height: 100%;
      width: 100%;
      border: none;
    }
  }
  .more {
    .guessyoulike {
      /*background: url("../../assets/img/guessyoulike.jpg") no-repeat;*/
      /*background-size: 100%;*/
      /*height: 130/2px;*/
      margin-bottom: 5px;
    }
  }
  .moreList {
    float: left;
    width: 50%;
    padding: 0 1%;
    box-sizing: border-box;
    .item {
    }
  }
}
